.inclusive-body{
    background-color: rgb(28, 28, 28);
    color: white;
}

.body-head{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 15vh;
        flex-direction: column;
}

.body-head-top{
        width: auto;
        background-color: white;
        color:blueviolet;
        padding: 5px;
        font-size: 0.80rem;
        font-weight: bold;
        letter-spacing: 0.5px;
        border-radius: 8px;
}

.body-head-top span{
    margin-left: 5px;
}

.body-head-mid p{
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Inter';
    margin:0;
    margin-top: 1.5rem;
}

.body-head-mid p span{
    color:rgb(254, 129, 98);
}

.body-head-bottom {
    color:rgb(118, 117, 117);
    font-size: 1.35rem;
}

.inclusive-body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inclusive-body .body-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
}

.body-head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-head-top{
    align-self:self-start;
}

.body-head-bottom{
    width: 40%;
    align-self: self-start;
    word-wrap: wrap;
    margin-top: 2rem;
}

.body-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.body-body-cross-platform{
  background-color:  rgb(33, 33, 33);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  height: 400px;
  border-radius: 30px;
  width: 32%;
  padding:0 3rem;
}

.body-body-stay-informed{
    background-color:  rgb(33, 33, 33);
    display: flex;
    justify-content: center;
  align-items: center;
  margin-right: 2rem;
  height: 400px;
  border-radius: 30px;
  width: 32%;
  padding:0 3rem;
}

.body-body-secure-data{
    background-color:  rgb(33, 33, 33);
    display: flex;
    justify-content: center;
  align-items: center;
  height: 400px;
  border-radius: 30px;
  width: 32%;
  padding:0 3rem;
}

.body-body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin-left:-10vw;
    margin-top: 4rem;
    text-align: center;
    z-index: 10;
    margin-bottom: 15vh;
}

.body-body div.emoticon{
    width: 4rem;
    height:4rem;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.body-body svg{
    font-size: 2rem;
}

.body-body span{
    font-size: 1.5rem;
    display: block;
    margin-top: 1rem;
}

.body-body p{
    color:rgb(118, 117, 117);
    line-height: 1.5rem;
}

.cross-platform{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secure-data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stay-informed{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.body-bottom-left img{
    height: 4rem;
    
}

.body-bottom-right img{
    height: 4rem;
}

.body-bottom-left div{
    background-color:  rgb(33, 33, 33);
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-bottom-right div{
    background-color:  rgb(33, 33, 33);
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 10vw;
}

.body-bottom-center img{
    width: 30vw;
}

.body-bottom-left{
    width: 20%;
    position: relative;
}

.body-bottom-right{
    width: 25%;
    position: relative;
}

.body-bottom-center{
    width: 55%;
}

.body-bottom-left div.gitlab{
    position: absolute;
    left:-100px;
    top:-100px;
}

.body-bottom-left div.gmail{
    position: absolute;
    bottom:-200px;
}

.body-bottom-right div.dropbox{
    position: absolute;
    left:10px;
    bottom:-200px;
}

@media screen and (max-width:1400px) {
    .body-bottom-right div.dropbox{
        display:none;
    }

    .body-bottom-left div.gmail{
        display: none;
    }

    .body-bottom-left div.gitlab{
        display: none;
    }

    .body-bottom-right div.slack{
        display: none;
    }

    .body-body{
        flex-direction: column;
        width: 100%;
    }

    .body-body > div{
        margin-bottom: 2rem;
        height: auto;
        width: auto;
    }
    
}

.body-bottom-right div.slack{
    position: absolute;
    right: 20px;
    top:-100px;
}

.body-bottom-center-top{
    background-color: white;
    color:blueviolet;
    width: auto;
    padding: 3px;
    border-radius: 5px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.body-bottom-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body-bottom-center-mid span{
    color:rgb(254, 129, 98);
}

.body-bottom-center-bottom span{
    display: block;
    color:rgb(118, 117, 117);
    font-size: 1.25rem;
    text-align: center;
    word-wrap: wrap;
    width: 70%;
    margin: 0;
    line-height: 2rem;
    margin-bottom: 10vh;
}

.body-bottom-center-mid{
    font-size: 4rem;
    word-wrap: wrap;
    text-align: center;
}

.body-bottom-center-bottom{
    display: flex;
    justify-content: center;
}

.body-bottom-center-mid p{
    margin:0;
    margin:1rem;
    font-size: 3rem !important;
}
