
@keyframes bounce{
    0%{
        transform: translateY(5%);
        opacity: 0;
    }
    60%{
        transform: translateY(-3%);
        opacity: 0.25;
    }
    80%{
        transform: translateY(1%);
        opacity: 0.75;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}



/*The class that is being added for lazy loading*/
.Bounce{
    width: 100%;
    height: 100%;
    animation:bounce 1.5s ease-in-out forwards;
}